{% extends "base.html" %}

{% block content %}

<h2>Acheter un service</h2>

<form method='POST' action='{% url coworking-service-buy %}'>
  {% csrf_token %}
  {{ service_cons_form }}
  <input type='submit' value='Valider'>
</form>

<i>Vous avez {{ request.user.get_profile.membership_card.credit }}€ de crédit (<a href="{% url coworking-credit-buy %}">Recharger</a>).</i>

<i><a href="{% url coworking-pack-buy %}">Prendre un pack</a></i>


<h2>Historique</h2>

<ul>
  {% for trans in old_transactions reversed %}
  <li>{{ trans.date }} : {{ trans.label }} -- {{ trans.get_kind_display }} de {{ trans.amount }}€</li>
  {% endfor %}
</ul>

{% endblock %}